<nz-card class="figma-form-card" [nzTitle]="config.title">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row g-3">
      <ng-container *ngFor="let field of config.fields">

        <!-- TEXT -->
        <div class="col-12" *ngIf="field.type === 'text'">
          <div class="figma-field">
            <label class="figma-label form-label">
              {{ field.label }}
              <span *ngIf="field.required" class="text-danger">*</span>
            </label>

            <ng-container *ngIf="field.mask !== 'SHORT_CODE_3_2'
              && field.mask !== 'ALPHA5_ROMAN'
              && field.mask !== 'AAA_AAA'
              && field.mask !== 'AAA_AAA_AAA';
              else maskedInput">
              <input nz-input class="figma-input form-control" [type]="field.key === 'email' ? 'email' : 'text'"
                [formControlName]="field.key" [disabled]="!!field.disabled"
                [attr.maxlength]="field.key === 'email' ? 50 : null" [attr.placeholder]="'Enter ' + field.label"
                autocomplete="off" spellcheck="false" />
            </ng-container>

            <ng-template #maskedInput>
              <ng-container *ngIf="field.mask === 'SHORT_CODE_3_2'; else alpha5RomanInput">
                <input nz-input class="figma-input form-control" type="text" [formControlName]="field.key"
                  [disabled]="!!field.disabled" maxlength="6" [attr.placeholder]="'Enter ' + field.label"
                  autocomplete="off" spellcheck="false" [appShortCodeMask]="'SHORT_CODE_3_2'" />
              </ng-container>

              <ng-template #alpha5RomanInput>
                <ng-container *ngIf="field.mask === 'ALPHA5_ROMAN'; else aaaAaaInput">
                  <input nz-input class="figma-input form-control" type="text" [formControlName]="field.key"
                    [disabled]="!!field.disabled" maxlength="10" autocomplete="off" spellcheck="false"
                    [appShortCodeMask]="'ALPHA5_ROMAN'"
                    [attr.placeholder]="field.mask === 'ALPHA5_ROMAN' ? 'Example: SOUTH or SOUTH-I' : null" />
                </ng-container>
              </ng-template>

              <ng-template #aaaAaaInput>
                <ng-container *ngIf="field.mask === 'AAA_AAA_AAA'; else aaaAaa6Input">
                  <input nz-input class="figma-input form-control" type="text" [formControlName]="field.key"
                    [disabled]="!!field.disabled" maxlength="20" autocomplete="off" spellcheck="false"
                    [appShortCodeMask]="'AAA_AAA_AAA'"
                    [prefix]="((form.get(field.key)?.value || '').toString().split('-')[0] || '').trim()" />
                </ng-container>

                <ng-template #aaaAaa6Input>
                  <input nz-input class="figma-input form-control" type="text" [formControlName]="field.key"
                    [disabled]="!!field.disabled" maxlength="7" autocomplete="off" spellcheck="false"
                    [appShortCodeMask]="'AAA_AAA'" />
                </ng-template>
              </ng-template>
            </ng-template>

            <div class="figma-error" *ngIf="hasError(field.key, 'required')">
              {{ field.label }} is required
            </div>

            <div class="figma-error" *ngIf="field.mask === 'SHORT_CODE_3_2' && hasError(field.key, 'invalidName')">
              Name must be in format <b>HHH-HH</b> (letters only)
            </div>

            <div class="figma-error" *ngIf="field.mask === 'ALPHA5_ROMAN' && hasError(field.key, 'invalidName')">
              Name can be <b>SOUTH</b> or <b>SOUTH-I</b> (Roman optional: I–X)
            </div>

            <div class="figma-error" *ngIf="field.mask === 'ALPHA5_ROMAN' && hasError(field.key, 'minLength')">
              Minimum <b>4 characters</b> required
            </div>

            <div class="figma-error" *ngIf="field.mask === 'AAA_AAA' && hasError(field.key, 'invalidName')">
              Name must be in format <b>AAA-AAA</b> (letters only)
            </div>

            <div class="figma-error"
              *ngIf="field.key === 'subBranchName' && (hasError(field.key,'invalidName') || hasError(field.key,'prefixMismatch') || hasError(field.key,'branchRequiredForSubBranch'))">
              Name must be in format <b>CODE-AAA</b> or <b>CODE-AAA-AAA</b>
            </div>

            <div class="figma-error" *ngIf="field.key === 'email' && hasError(field.key, 'email')">
              Please enter a valid email address
            </div>

            <div class="figma-error" *ngIf="field.key === 'email' && hasError(field.key, 'invalidEmail')">
              Please enter a valid email address
            </div>

            <div class="figma-error" *ngIf="field.key === 'email' && hasError(field.key, 'maxlength')">
              Maximum 50 characters allowed
            </div>
          </div>
        </div>

        <!-- NUMBER -->
        <div class="col-12" *ngIf="field.type === 'number'">
          <div class="figma-field">
            <label class="figma-label">
              {{ field.label }}
              <span *ngIf="field.required" class="text-danger">*</span>
            </label>

            <input nz-input class="figma-input form-control" type="number" [formControlName]="field.key"
              [disabled]="!!field.disabled" [attr.placeholder]="'Enter ' + field.label" />

            <div class="figma-error" *ngIf="hasError(field.key, 'required')">
              {{ field.label }} is required
            </div>
          </div>
        </div>

        <!-- TEXTAREA -->
        <div class="col-12" *ngIf="field.type === 'textarea'">
          <div class="figma-field">
            <label class="figma-label">
              {{ field.label }}
              <span *ngIf="field.required" class="text-danger">*</span>
            </label>

            <textarea nz-input class="figma-textarea form-control" rows="3" [formControlName]="field.key"
              [disabled]="!!field.disabled" [attr.placeholder]="'Enter ' + field.label" autocomplete="off"
              spellcheck="false"></textarea>

            <div class="figma-error" *ngIf="hasError(field.key, 'required')">
              {{ field.label }} is required
            </div>
          </div>
        </div>

        <!-- SELECT -->
        <div class="col-12" *ngIf="field.type === 'select'">
          <div class="figma-field">
            <label class="figma-label">
              {{ field.label }}
              <span *ngIf="field.required" class="text-danger">*</span>
            </label>

            <!-- STATUS FLAG AS SEGMENT -->
            <ng-container *ngIf="
                    field.key === 'statusFlag' ||
                    field.key === 'conferenceCallFlag' ||
                    field.key === 'activeFlag' || field.key === 'requiredReportsFlag'
                    ; else normalSelect">
              <div class="figma-segment">
                <label class="figma-segment-item" *ngFor="let opt of field.options || []"
                  [class.active]="form.get(field.key)?.value === opt.value">
                  <input type="radio" [value]="opt.value" [formControlName]="field.key" />
                  <span>{{ opt.label }}</span>
                </label>
              </div>
            </ng-container>

            <!-- NORMAL SELECT -->
            <ng-template #normalSelect>
              <nz-select class="figma-select figma-person-select" nzAllowClear [nzShowSearch]="!!field.searchable"
                [nzFilterOption]="filterOption" [formControlName]="field.key" [nzDisabled]="!!field.disabled"
                [nzLoading]="!!field.loading" nzNotFoundContent="No data" nzDropdownClassName="figma-person-dropdown"
                [nzPlaceHolder]="'Select ' + field.label" (nzValueChange)="onSelectChange(field.key, $event)"
                (nzSearchValueChange)="onSelectSearch(field.key, $any($event))">

                <ng-container *ngIf="field.options$ | async as asyncOpts; else staticOptions">
                  <nz-option *ngFor="let opt of asyncOpts" [nzLabel]="opt.label" [nzValue]="opt.value"
                    [nzTitle]="opt.searchText || opt.label" [nzCustomContent]="true">

                    <div class="person-opt-card"
                      [class.person-opt-card--selected]="form.get(field.key)?.value === opt.value">

                      <div class="person-opt-top">
                        <div class="person-opt-name">
                          {{ opt.meta?.['name'] ?? opt.label }}
                        </div>

                        <div class="person-opt-id" *ngIf="opt.meta?.['id']">
                          ID: {{ opt.meta?.['id'] }}
                        </div>
                      </div>

                      <div class="person-opt-meta">
                        <span *ngIf="opt.meta?.['department']">
                          Department: {{ opt.meta?.['department'] }}
                        </span>

                        <span class="person-opt-sep" *ngIf="opt.meta?.['department'] && opt.meta?.['designation']">
                        </span>

                        <span *ngIf="opt.meta?.['designation']">
                          Designation: {{ opt.meta?.['designation'] }}
                        </span>
                      </div>
                    </div>
                  </nz-option>
                </ng-container>

                <ng-template #staticOptions>
                  <nz-option *ngFor="let opt of field.options || []" [nzLabel]="opt.label" [nzValue]="opt.value"
                    [nzTitle]="opt.searchText || opt.label" [nzCustomContent]="true">

                    <div class="person-opt-card"
                      [class.person-opt-card--selected]="form.get(field.key)?.value === opt.value">

                      <div class="person-opt-top">
                        <div class="person-opt-name">
                          {{ opt.meta?.['name'] ?? opt.label }}
                        </div>

                        <div class="person-opt-id" *ngIf="opt.meta?.['id']">
                          ID: {{ opt.meta?.['id'] }}
                        </div>
                      </div>

                      <div class="person-opt-meta">
                        <span *ngIf="opt.meta?.['department']">
                          Department: {{ opt.meta?.['department'] }}
                        </span>

                        <span class="person-opt-sep" *ngIf="opt.meta?.['department'] && opt.meta?.['designation']">
                        </span>

                        <span *ngIf="opt.meta?.['designation']">
                          Designation: {{ opt.meta?.['designation'] }}
                        </span>
                      </div>
                    </div>
                  </nz-option>
                </ng-template>
              </nz-select>
            </ng-template>

            <div class="figma-error" *ngIf="hasError(field.key, 'required')">
              {{ field.label }} is required
            </div>
          </div>
        </div>

        <!-- DATE -->
        <div class="col-12" *ngIf="field.type === 'date'">
          <div class="figma-field">
            <label class="figma-label">
              {{ field.label }}
              <span *ngIf="field.required" class="text-danger">*</span>
            </label>

            <nz-date-picker class="figma-date" style="width: 100%" [formControlName]="field.key"
              [nzDisabled]="!!field.disabled" [nzDisabledDate]="getDisabledDateFn(field.key)" [nzInputReadOnly]="true"
              [nzPlaceHolder]="'Select Date'">
            </nz-date-picker>

            <div class="figma-error" *ngIf="hasError(field.key, 'required')">
              {{ field.label }} is required
            </div>

            <div class="figma-error" *ngIf="hasError(field.key, 'pastDateNotAllowed')">
              Effective Date must be in the future
            </div>
          </div>
        </div>

        <!-- CHECKBOX -->
        <div class="col-12" *ngIf="field.type === 'checkbox'">
          <div class="figma-field">
            <label nz-checkbox [formControlName]="field.key" class="figma-checkbox">
              {{ field.label }}
            </label>
          </div>
        </div>

        <!-- FILE -->
        <div class="col-12" *ngIf="field.type === 'file'">
          <div class="figma-field">

            <label class="figma-label">{{ field.label }}</label>

            <div class="figma-upload-box" (click)="fileInput.click()">

              <div class="upload-icon">
                <i class="fa fa-upload"></i>
              </div>

              <div class="upload-text">
                <span>Drag & drop files or</span>
                <span class="browse">browse files</span>
              </div>

              <input #fileInput type="file" hidden [accept]="field.accept"
                (change)="onFileSelected(field.key, $event)" />
            </div>

            <small class="figma-help">
              Only CSV / Excel files allowed
            </small>

          </div>
        </div>

      </ng-container>
    </div>

    <div class="d-flex gap-2 justify-content-end mt-4 form-actions">
      <button nz-button type="button" class="figma-cancel-btn btn btn-outline-secondary" (click)="onCancel()">
        Cancel
      </button>
      <button nz-button nzType="primary" class="figma-save-btn btn btn-primary" [disabled]="form.invalid">
        Save
      </button>
    </div>
  </form>
</nz-card>